<script>
    import { onDestroy, createEventDispatcher } from "svelte";
    import { pollList } from "../stores/PollStore.js";

    const dispatch = createEventDispatcher();
    
    let polls;

    let pollForm = {
        question: '',
        option_1: '',
        option_2: ''
    }

    const unsubscribe = pollList.subscribe((value) => {
        polls = value;
    });

    onDestroy(unsubscribe);

    function addPoll() {
        if (!pollForm.question || !pollForm.option_1 || !pollForm.option_2) {
            alert("Please provide the question, option 1 and option 2");
            return false;
        }
        polls = [
            ...polls,
            {
                id: (new Date).getTime(),
                question: pollForm.question,
                option_1: pollForm.option_1,
                option_2: pollForm.option_2,
                vote_1: 0,
                vote_2: 0
            },
        ];
        pollList.update(p => polls)

        dispatch('add-poll-success')
    }
</script>

<style>
    #create-poll-form .actions {
        justify-content: center;
    }
</style>

<div class="container">
    <div class="mt-4 has-text-centered">
        <h1 class="is-size-1">Create a poll</h1>
    </div>
    <div class="create-poll-container mt-5">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <form id="create-poll-form" on:submit|preventDefault={addPoll}>
                    <div class="field">
                        <label class="label">Question</label>
                        <div class="control">
                            <input
                                class="input"
                                type="text"
                                placeholder="Text input"
                                bind:value={pollForm.question} />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Option 1</label>
                        <div class="control">
                            <input
                                class="input"
                                type="text"
                                placeholder="Text input"
                                bind:value={pollForm.option_1} />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Option 2</label>
                        <div class="control">
                            <input
                                class="input"
                                type="text"
                                placeholder="Text input"
                                bind:value={pollForm.option_2} />
                        </div>
                    </div>
                    <div class="field is-grouped actions">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
