<script>
    import { createEventDispatcher } from "svelte";
    import { tweened } from "svelte/motion"

    export let pollDetails;

    const dispatch = createEventDispatcher();

    // reactive values
    $: totalVotes = pollDetails.vote_1 + pollDetails.vote_2;
    $: percent_1 = Math.floor(100 / totalVotes * pollDetails.vote_1) || 0
    $: percent_2 = Math.floor(100 / totalVotes * pollDetails.vote_2) || 0

    // tweened percentages
    const tweened1 = tweened(0)
    const tweened2 = tweened(0)
    $: tweened1.set(percent_1)
    $: tweened2.set(percent_2)

    function voteOption(option) {
        dispatch("vote", option);
    }

    function removePoll() {
        dispatch("delete-poll", pollDetails.id);
    }

</script>

<style>
    .option {
        width: 100%;
        height: 3rem;
        margin: 10px auto;
        font-weight: 500;
        background: #fafafa;
        cursor: pointer;
        position: relative;
    }
    .option:hover {
        opacity: 0.6;
    }
    p {
        display: inline-block;
        padding: 10px 20px;
    }
    .percent {
        height: 100%;
        position: absolute;
        box-sizing: border-box;
    }
    .first-percent {
        background-color: rgba(241, 70, 104, 0.3);
        border-left: 4px solid #f14668;
    }
    .second-percent {
        background-color: rgba(72, 199, 116, 0.3);
        border-left: 4px solid #48c774;
    }
</style>

<div class="card">
    <header class="card-header">
        <p class="card-header-title">{pollDetails.question}</p>
        <a
            href="#"
            class="card-header-icon"
            aria-label="more options"
            on:click|preventDefault={removePoll}>
            <span class="icon">
                <i class="fas fa-times" aria-hidden="true" />
            </span>
        </a>
    </header>
    <div class="card-content">
        <div class="option" on:click={() => voteOption(1)}>
        <div class="percent first-percent" style="width: {$tweened1}%"/>
            <p>{pollDetails.option_1}: {pollDetails.vote_1}</p>
        </div>
        <div class="option" on:click={() => voteOption(2)}>
            <div class="percent second-percent" style="width: {$tweened2}%"/>
            <p>{pollDetails.option_2}: {pollDetails.vote_2}</p>
        </div>
    </div>
</div>
