<script>
    import { onDestroy } from "svelte";
    import { fade, slide, scale } from "svelte/transition";
    import { flip } from "svelte/animate";

    import { pollList } from "../stores/PollStore.js";

    import PollCom from "./Poll.svelte";

    let polls;

    const unsubscribe = pollList.subscribe((value) => {
        polls = value;
    });

    onDestroy(unsubscribe);

    function handleVote(poll, option) {
        if (option == 1) {
            poll.vote_1++;
        } else {
            poll.vote_2++;
        }
        const selected_poll_index = polls.findIndex((p) => p.id === poll.id);
        polls[selected_poll_index] = poll;

        pollList.update((p) => polls);
    }

    function handleDeletePoll(poll_id) {
        const new_poll_list = polls.filter((p) => p.id !== poll_id);
        pollList.update((p) => new_poll_list);
    }

</script>

<style>
</style>

<div class="container">
    <div class="mt-4 has-text-centered">
        <h1 class="is-size-1">Poll list</h1>
    </div>
    <div class="poll-list-container mt-5">
        <div class="columns is-multiline is-centered">
            {#each polls as poll (poll.id)}
                <div class="column is-one-third" in:fade out:scale|local animate:flip={{duration: 500}}>
                    <PollCom
                        pollDetails={poll}
                        on:vote={(e) => handleVote(poll, e.detail)}
                        on:delete-poll={(e) => handleDeletePoll(e.detail)} />
                </div>
            {:else}
            <div class="columns is-mobile is-centered" transition:fade>
                <div class="column">
                    <div class="mt-5 has-text-centered">
                        <h4 class="is-size-4">There is no poll</h4>
                        <h5 class="is-size-5">Click "Create a poll" to create one</h5>
                    </div>
                </div>
              </div>
            {/each}
        </div>
    </div>
</div>
