<script>
	import PollListPage from "./pages/PollList.svelte";
	import CreateAPoll from "./pages/CreateAPoll.svelte";

	let currentPage = "poll-list";

	function goToPage(page) {
		currentPage = page;
	}
</script>

<style>
</style>

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="#">
				<div class="is-size-4">HIKARI POLL</div>
			</a>

			<a
				role="button"
				class="navbar-burger burger"
				aria-label="menu"
				aria-expanded="false"
				data-target="navbarBasicExample">
				<span aria-hidden="true" />
				<span aria-hidden="true" />
				<span aria-hidden="true" />
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item" on:click={() => goToPage("poll-list")}>
					Polls
				</a>

				<a class="navbar-item" on:click={() => goToPage("create-a-page")}> Create a poll </a>
			</div>
		</div>
	</div>
</nav>

<main>
	{#if currentPage === 'poll-list'}
		<PollListPage />
	{:else}
		<CreateAPoll on:add-poll-success={ () => goToPage("poll-list") } />
	{/if}
</main>
